@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
}

/* BackgroundShapes */

@keyframes float-slow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(30px) translateX(-10px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes rotate-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-float-slow {
  animation: float-slow 9s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 12s ease-in-out infinite;
}

.animate-rotate-slow {
  animation: rotate-slow 20s linear infinite;
}

/* footer */
@keyframes flyInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.3) rotate(-180deg);
  }
  50% {
    opacity: 0.4;
    transform: translateX(10px) scale(0.7) rotate(-15deg);
  }
  100% {
    opacity: 0.7;
    transform: translateX(0) scale(1) rotate(0deg);
  }
}

@keyframes steamRise {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-20px) scale(1.2) rotate(5deg);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-40px) scale(0.8) rotate(-10deg);
    opacity: 0;
  }
}

.infinite-loop {
  animation: flyInLeft 3s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-ping-slow {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-bounce-slow {
  animation: bounce 2s infinite;
}

/* header style */
